
.fi-wi-stats-overview-stat-description-icon,
.fi-wi-stats-overview-stat-description {
    margin-bottom: .5rem;
}

.dark .fi-btn-color-primary .fi-btn-icon,
.dark .fi-btn-color-primary {
    color: rgba(var(--gray-950), var(--tw-bg-opacity, 1)) !important;
}

.product-view-image .fi-section-content {
    padding: 0;
}

.fi-page {
    > section:first-child {
        @media screen and (max-width: 600px) {
            padding-top: 1rem;
        }

        .fi-header-heading {
            @media screen and (max-width: 600px) {
                padding-bottom: .5rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .fi-header {
        gap: 0 !important;
        margin-bottom: -1rem;
        padding-top: .5rem;

        .fi-ac {
            position: fixed;
            z-index: 25;
            inset: 0;
            top: auto;
            background: white;
            display: flex;
            justify-items: stretch;
            overflow-x: auto;
            gap: 0;
            box-shadow: -10px 0 5px 0 rgba(black, .15);
        ;

            .dark & {
                background-color: rgba(var(--gray-900), var(--tw-bg-opacity, 1));
            }


            > * {
                flex: 1;
                box-shadow: none;
                border-radius: 0;
            }

            .fi-btn {
                padding: .75rem .5rem;

                svg,
                .fi-btn-label {
                    opacity: .7;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .fi-main {
        padding-bottom: 3rem;
    }
}
